apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: found-fitness-app
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      imagePullSecrets:
        - name: homelab-harbor-pull-secret
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: frontend
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: false
          # 1. MAKE SURE THIS MATCHES THE IMAGE YOU BUILT & PUSHED
          image: harbor.javajon.duckdns.org/library/found-fitness-frontend:v1.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: found-fitness-app
  labels:
    app: frontend
spec:
  type: ClusterIP  # Ingress talks to this internal IP
  selector:
    app: frontend
  ports:
    - port: 80      # The port Ingress routes TO
      targetPort: 80 # The port the NGINX container listens ON